

<nav>
    <ul class="menu-bar">
        <li> <a href=" {{path('app_articles_index')}} ">Articles</a> </li>
        
        <li> <a href=" {{path('app_cart_index')}} ">Cards</a></li>
        <li><a href=" {{path('app_user_index')}} ">Users</a></li>
    </ul>
</nav>